doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Крипто-кошелёк
    // Disable tap highlight on IE
    meta(name='msapplication-tap-highlight', content='no')
    // Web Application Manifest
    link(rel='manifest', href='manifest.json')
    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='application-name', content='Web Starter Kit')
    link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')
    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Web Starter Kit')
    link(rel='apple-touch-icon', href='images/touch/apple-touch-icon.png')
    // Tile icon for Win8 (144x144 + tile color)
    meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor', content='#2F3BA2')
    // Color the status bar on mobile devices
    meta(name='theme-color', content='#2F3BA2')
    // SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones
    //
      <link rel="canonical" href="http://www.example.com/">
    // Material Design icons
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    //
      Material Design Lite page styles:
      You can choose other color schemes from the CDN, more info here http://www.getmdl.io/customize/index.html
      Format: material.color1-color2.min.css, some examples:
      material.red-teal.min.css
      material.blue-orange.min.css
      material.purple-indigo.min.css
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.blue-deep_purple.min.css')
    // Your styles
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.mdl-demo.mdl-color--grey-100.mdl-color-text--grey-700.mdl-base
    .auth.js-auth
      section.section--center.mdl-grid.mdl-grid--no-spacing
        form.mdl-cell.mdl-cell--12-col.mdl-cell--middle.js-login(action='#')
          .mdl-card__supporting-text.mdl-grid.mdl-cell--12-col
            .mdl-cell.mdl-cell--12-col
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#login.mdl-textfield__input(type='text' style='width: 100%')
                label.mdl-textfield__label(for='login') Имя
            .mdl-cell.mdl-cell--12-col
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input#pass.mdl-textfield__input(type='password' style='width: 100%')
                label.mdl-textfield__label(for='pass') Пароль
            .mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet.mdl-cell--4-col-phone
              button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored.js-submit
                | Войти
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-color--primary
        .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-color--primary-dark
          a.mdl-layout__tab.is-active(href='#balance') Баланс
          a.mdl-layout__tab(href='#send') Отправить
          a.mdl-layout__tab(href='#receive') Пополнить
          a.mdl-layout__tab(href='#list') Список операций
          a.mdl-layout__tab(href='#faq') ЧаВо
      main.mdl-layout__content
        #balance.mdl-layout__tab-panel.is-active
          section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card.mdl-cell.mdl-cell--12-col
              .mdl-card__supporting-text
                .js-active-balance.mdl-grid
                  h4.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone Баланс (KRMT):
                  h4.mdl-cell.mdl-cell--8-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone 435.8547168
                .mdl-cell.mdl-cell--12-col(style='padding-top: 24px;')
                  button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect
                    | Пополнить
          section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing(style='margin: 24px 40px;')
              h4.mdl-cell.mdl-cell--12-col
                | Последние операции:
            table.mdl-cell.mdl-cell--12-col.mdl-data-table.mdl-js-data-table
              thead
                tr
                  th.mdl-data-table__cell--non-numeric
                  th Количество
                  th.mdl-data-table__header--sorted-ascending блок
              tbody.js-history-simple
                tr
                  td.mdl-data-table__cell--non-numeric -
                  td 3.78491350
                  td 27.09.2018 18:35:11
            .mdl-card__actions
              a.mdl-button(href='#list') Показать больше
        #send.mdl-layout__tab-panel
          section.section--center.mdl-grid.mdl-grid--no-spacing
            .mdl-layout--large-screen-only.mdl-cell.mdl-cell--2-col
            form.mdl-cell.mdl-cell--8-col.mdl-shadow--2dp(action='#')
              .mdl-card__supporting-text.mdl-grid.mdl-cell--12-col
                .mdl-cell.mdl-cell--10-col.mdl-cell--3-col-phone
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    input#send-for.mdl-textfield__input(type='text')
                    label.mdl-textfield__label(for='send-for') Кому
                .mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone.mdl-cell--middle
                  //button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-js-ripple-effect
                  //  | Найти
                .mdl-cell.mdl-cell--10-col.mdl-cell--3-col-phone
                  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    input#send-quantity.mdl-textfield__input(type='number')
                    label.mdl-textfield__label(for='send-quantity') Сколько
                .mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone.mdl-cell--middle
                .mdl-cell.mdl-cell--12-col
                  .mdl-textfield.mdl-js-textfield(style='width: 100%;')
                    textarea#send-comment.mdl-textfield__input(type='text', rows='3')
                    label.mdl-textfield__label(for='send-comment') Комментарий к платежу
                .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
                  button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored
                    | Отправить
                .mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
                  button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
                    | Сохранить шаблон
            .mdl-layout--large-screen-only.mdl-cell.mdl-cell--2-col
        #receive.mdl-layout__tab-panel
          section.section--center.mdl-grid.mdl-grid--no-spacing
        #list.mdl-layout__tab-panel
          section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing(style='margin: 24px 40px;')
              h4.mdl-cell.mdl-cell--12-col
                | Последние операции:
            table.mdl-cell.mdl-cell--12-col.mdl-data-table.mdl-js-data-table.list-order
              thead
                tr
                  th
                  th Количество
                  th.mdl-data-table__header--sorted-ascending Блок
              tbody.js-history-full
                tr.mdl-color--amber-50
                  td -3.784913
                  td 5.698113
                  td 27.09.2018 18:35
              a.mdl-button(href='#list') Показать больше
        #faq.mdl-layout__tab-panel
          section.section--center.mdl-grid.mdl-grid--no-spacing
        footer.mdl-mega-footer
          .mdl-mega-footer--middle-section
            .mdl-mega-footer--drop-down-section
              input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
              h1.mdl-mega-footer--heading Возможности
              ul.mdl-mega-footer--link-list
                li
                  a(href='#') Всякая
                li
                  a(href='#') Всячина
                li
                  a(href='#') В нашем
                li
                  a(href='#') Подвале
            .mdl-mega-footer--drop-down-section
              input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
              h1.mdl-mega-footer--heading Подробнее
              ul.mdl-mega-footer--link-list
                li
                  a(href='#') Можно
                li
                  a(href='#') Нашбиговать
                li
                  a(href='#') Страницу
            .mdl-mega-footer--drop-down-section
              input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
              h1.mdl-mega-footer--heading Технологии
              ul.mdl-mega-footer--link-list
                li
                  a(href='#') NodeJS
                li
                  a(href='#') KarmaLS+WS
                li
                  a(href='#') CoffeeScript
                li
                  a(href='#') Jade
                li
                  a(href='#') Sass
            .mdl-mega-footer--drop-down-section
              input.mdl-mega-footer--heading-checkbox(type='checkbox', checked='')
              h1.mdl-mega-footer--heading ЧаВо
              ul.mdl-mega-footer--link-list
                li
                  a(href='#') Вопросы
                li
                  a(href='#') Ответы
                li
                  a(href='#') Всякое

    script(src='https://code.getmdl.io/1.2.1/material.min.js')
    // build:js scripts/main.min.js
    script(src="/socket.io/socket.io.js", defer='')
    script(src='/javascripts/base.js', defer='')
    // endbuild
